<div class="d-grid gap-2">
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-title="Alegría:10  Tristeza:-5  Miedo:-5  Enojo:-3  Asco:-1  Sorpresa:3"
    (click)="onCaressButtonClick()"
  >
    Dar caricia
  </button>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-title="Alegría:10  Tristeza:-5  Miedo:-2  Enojo:-3  Asco:-1  Sorpresa:2"
    (click)="onIndulgeButtonClick()"
  >
    Dar golosina
  </button>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-title="Alegría:-8  Tristeza:5  Miedo:4  Enojo:8  Asco:2  Sorpresa:1"
    (click)="onHitButtonClick()"
  >
    Dar golpe
  </button>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-title="Alegría:-2  Tristeza:-1  Miedo:-2  Enojo:-1  Asco:5  Sorpresa:1"
    (click)="onDisgustButtonClick()"
  >
    Oler calcetín sucio
  </button>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-title="Alegría:-5  Tristeza:8  Miedo:6  Enojo:1  Asco:-2  Sorpresa:-5"
    (click)="onLeaveButtonClick()"
  >
    Dejarlo solo
  </button>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-title="Alegría:-2  Tristeza:0  Miedo:2  Enojo:0  Asco:4  Sorpresa:-2"
    (click)="onShameButtonClick()"
  >
    Orinarse
  </button>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-title="Alegría:3  Tristeza:-2  Miedo:5  Enojo:-3  Asco:-1  Sorpresa:0"
    (click)="onGuiltyButtonClick()"
  >
    Dañar objeto
  </button>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-title="Alegría:-5  Tristeza:1  Miedo:7  Enojo:2  Asco:1  Sorpresa:5"
    (click)="onAlarmButtonClick()"
  >
    Escuchar pirotecnia
  </button>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-title="Alegría:-3  Tristeza:6  Miedo:3  Enojo:1  Asco:0  Sorpresa:2"
    (click)="onNagButtonClick()"
  >
    Regañar
  </button>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-title="Alegría:-3  Tristeza:5  Miedo:0  Enojo:6  Asco:1  Sorpresa:1"
    (click)="onEnvyButtonClick()"
  >
    No prestar atención
  </button>
</div>
