<div class="container text-center mt-5">
  <div class="row align-items-center">
    <div class="col">
      <app-buttons></app-buttons>
    </div>
    <div class="col">
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="col">
      <div *ngIf="loading">
        <p>Cargando...</p>
      </div>
      <img
        src="assets/images/dog.png"
        width="400"
        height="400"
        *ngIf="!imageUrl && !loading"
      />
      <img
        [src]="imageUrl"
        width="400"
        height="400"
        *ngIf="imageUrl && !loading"
      />
    </div>
  </div>
</div>
